input {
    padding: var(--padding);
    border: 1px solid var(--secondary-color);
    border-radius: var(--border-radius);
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--secondary-color);
  }  
